$primary : #D87D4A;
$soft-primary: #fbaf85;
$off-black: #101010;
$gray-200: #F1F1F1;
$gray-100: #FAFAFA;
$gray: #a1a1a1;
$gray-soft: #CACACABB;
$white: #FFFFFF;
$black: #000000;
$black-soft: rgba($black, .5);
